@font-face {
    font-family: "Soledago";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Soledago");
         /* Если не получилось, загрузит woff2 
         url("C:\Users\перпендикуляр\Desktop\курсач\MAGIK\fonts") format("ttf") 
         */        
  }
  
  /* Теперь можно использовать шрифт */
  body {

    font-family: "Soledago", sans-serif;
    font-size: 23px;
    line-height: 1.3;
    background-color: black;
    margin: 0;
  }

*,
*::before,
*::after

  {
    box-sizing: border box;
  }
  
  .header  {
    
    width: 100%;
    height: 100px;
    background-color: black;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    

  }
  







  .logo {
    
    color: white;
    font-size: 46px;
    margin: 0 auto;
    margin-left: 48%;
    text-decoration: none;
    position: fixed;
    font-family: "Soledago";



}
  .container {
    background-color: black;
    width: 100%;
    height: 55px;
    
    margin: 0 auto;
    
    position: fixed;
    z-index: 100;
  }

  .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height: 117vh;
        margin-top: 0;
        
      
       
}
  .intro_title {
    font-family: arial black;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    text-decoration: none;

  }
  .intro_title1{
    color: black;
    font-family: arial black;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    
  }
  
  h2,h3 {
  color: black;
  font-family: arial black;
  font-size: 36px;
  margin: 0;
  
  
}


.tooltip {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 390px;
  background-color: rgb(2, 2, 2);
  border: 0px solid #ccc;
  border-radius: 0px;
  z-index: 1;
  font-size: 14px;
  line-height: 1.5;
  transition-duration: 10s;
  text-align: center;
  
}


p {
  vertical-align: top;
  text-decoration: none;
}


.one {
  vertical-align: top;
}

.menu {
  padding-top: 120%;
  margin-left: 2%;
  position: relative;
  
}


.poisk { 
  padding-right: 10px ;
  margin-left: 85%;
  
}

.user {
  padding-right: 10px ;
  

}

.favorite {
  padding-right: 10px ;
  
}

.korzina {
  padding-left: 2px ;
  
}

.seredina {
  padding-top: 9px;
}

.begstroka {
  padding-top: 0,5px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  position: absolute;
  width: 14px;
  background: 0 0
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 15px;
  background-color: rgb(255, 255, 255)
}

.dresses {
  display: flex;
  justify-content: space-between;

}


.seredina { 

  background-color: black;
}
  .niz { 

  background-color: rgb(0, 0, 0);
}

/*    надписи повверх платьев */ 
.pl1 {
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: space-between;

}
.pl1:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Джинсовый сарафан            s m l xl\a 1900 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.btn1 {

  width: 20px;
  height: 6px;
  
}
.pl2 {
  position: relative;
}
.pl2:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Платье с воротником              s m l xl\a 2790 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.pl3 {
  position: relative;
}
.pl3:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Кружевной сарафан                        s m\a 1200 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: #ffffff;
  padding-top: 465px;
}

.pl4 {
  position: relative;
}
.pl4:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Платье с декоративным вырезом\a 2790 ₽                                                        m l xl ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 465px;
  
}


.top1 {
  position: relative;
 

}
.top1:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Топ на тонких бретелях       s m l xl\a 2100 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.top2 {
  position: relative;
}
.top2:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Топ на пуговицах                       s m l xl\a 1790 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.top3 {
  position: relative;
}
.top3:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Корсетный топ                                       s m\a 3200 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: #ffffff;
  padding-top: 465px;
  
}

.top4 {
  position: relative;
}
.top4:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Льняной топ                                                  S\a 3790 ₽  ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 465px;
  
}

.shoes1 {
  position: relative;
 

}
.shoes1:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Ботильоны                                 36 37 38 39\a 19000 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.shoes2 {
  position: relative;
}
.shoes2:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Туфли на высокой платформе \a 10 000 ₽                                                  38 39 40  ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 460px;
  
}
.shoes3 {
  position: relative;
}
.shoes3:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Туфли с закрытым носком           36 \a 11200 ₽   ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: #ffffff;
  padding-top: 465px;
  
}

.shoes4 {
  position: relative;
}
.shoes4:hover::after {
  font-family: "Soledago", sans-serif;
  content: "Оксфорды                                   36 37 38 39 \a 7990 ₽  ";
  white-space: pre-wrap;
  
  position: absolute;
  top: 10;
  left: 0;
  background-color: none;
  color: white;
  padding-top: 465px;
  
}


/*    подвал     */ 




  











